* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

h1{
    color: #9488fa;
    font-size: 70px;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #a89ff8;
    margin: 20px;
    font-size: 50px;
    text-align: center;
}

body {
    background-color: #d9d5ff;
    padding: 60px;
}

.pokemon-info{
    font-size: 20px;
    color: #9488fa;
    text-transform: uppercase;
    text-align: center;
}
.pokemon-info img{
    height: 200px;
    width: 250px;
    text-align: center;
}

.pokemon-list-container {
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.pokemon-list-container button {
    color: #726e97;
    font-size: 17px;
    background-color: #a6d5f0;
    border: 1px solid #726e97 ;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}
.pokemon-list-container button:hover{
    color: #726e97;
    background: white;
}

div .button-next button{
    margin: 50px;
    font-size: 50px;
    color: #726e97;
    background: white;

}